[submodule "home/.zgen"]
	path = home/.zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
