[user]
	email = davidesousa@gmail.com
	name = David de Sousa
	signingkey = F05972D639862549CBB49366DC2940511A838660
[push]
	default = simple
[core]
	editor = /usr/bin/nvim
	excludesfile = ~/.gitignore
[diff]
	tool = vimdiff
[commit]
	gpgsign = true
[diff "sopsdiffer"]
	textconv = sops -d
