[user]
	email = davidesousa@gmail.com
	name = David de Sousa
	signingkey = 47D71020FF7879FF43CD44C18B9C2D1B7F269663
[push]
	default = simple
[core]
	editor = /usr/bin/nvim
	excludesfile = ~/.gitignore
	pager = less -F -X
[diff]
	tool = vimdiff
[commit]
	gpgsign = true
[diff "sopsdiffer"]
	textconv = sops -d
